PORT=5000
NODE_ENV=development
MONGO_URI=
CLIENT_ORIGIN=http://localhost:5000
JWT_SECRET=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=no-reply@nexatechsolutions.com
CONTACT_PHONE=+918121507004